.contenNav ul{
  list-style-type: none;
  display: flex;
  padding: 20px;
  margin: 0px;
  background: rgb(255, 255, 255);
  font-family: sans-serif;
  justify-content: space-around;
}

#brandNav{
  color: rgb(16, 129, 22);
  font-style:italic;
  font-size: larger;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif; 
}

.contenNav ul li a{
  color: rgb(2, 10, 1);
  text-decoration: none;
}

.contenNav ul li a:hover{
  text-decoration: underline 5px;
}